.wave {
  --mask: radial-gradient(67.08px at 50% calc(100% - 90px), #000 99%, #0000 101%) calc(50% - 60px)
      0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60px), #0000 99%, #000 101%) 50% calc(100% - 30px) /
      120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  @screen md {
    --mask: radial-gradient(111.8px at 50% calc(100% - 150px), #000 99%, #0000 101%)
        calc(50% - 100px) 0/200px 100%,
      radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
        calc(100% - 50px) / 200px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}
