---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/partials/Hero.astro';

const title = 'ブログ';
const description = 'sdenvに関するブログの一覧です。';
---

<Layout title={title} description={description}>
  <Hero title=`記事詳細` titleEn=`works` />
  <div class="container">
    <div class="">
      <div class="">
        <img src="" alt="" />
      </div>
      <div class="">
        <h2>サイトURL</h2>
        <p></p>
      </div>
      <div class="">
        <h2>概要</h2>
        <p></p>
      </div>
      <div class="">
        <h2>制作期間</h2>
        <p></p>
      </div>
      <div class="">
        <h2>使用ツール・技術</h2>
        <p></p>
      </div>
    </div>
  </div>
</Layout>
