---
import Layout from '../layouts/Layout.astro';

const tagline = '徳山 申太郎のポートフォリオ';
const description =
  '徳山 申太郎のポートフォリオサイトです。これまでの制作実績や私自身の簡単な紹介を掲載しています。';
---

<Layout isHome tagline={tagline} description={description}>
  <main class="wrapper mb-[fluid(4rem,10rem)] max-w-[90rem]">test</main>
</Layout>
