---
import Layout from '../layouts/Layout.astro';

const tagline = '徳山 申太郎のポートフォリオ';
const description =
  '徳山 申太郎のポートフォリオサイトです。これまでの制作実績や私自身の簡単な紹介を掲載しています。';
---

<Layout isHome tagline={tagline} description={description}>
  <main class="">
    <div class="container mt-20 lg:mt-[120px]">
      <p class="text-56 lg:text-64 leading-140 font-bold capitalize">
        tokuyama shintaro<br />
        portfolio
      </p>
      <p class="text-18 leading-200 tracking-02 mt-10">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>

    <section class="mt-20 lg:mt-40">
      <div class="container">
        <h2>works</h2>
      </div>
    </section>

    <section id="about" class="mt-20 lg:mt-40">
      <div class="container">
        <h2>about</h2>
      </div>
    </section>
  </main>
</Layout>
