---
interface Props {
  link: string;
  name: string;
}

const { link, name } = Astro.props;
---

<a href={link} class="inline-block rounded-full bg-blue px-12 py-2.5">
  <span class="text-16 font-bold leading-160 text-white">
    {name}
  </span>
</a>
