---
import PageTitle from './PageTitle.astro';

interface Props {
  title: string;
  titleEn?: string;
}

const { title, titleEn } = Astro.props;
---

<div class="headerChange wave bg-blueGradient">
  <div class="container pb-[120px] pt-[100px] md:pt-20 lg:pb-[140px] lg:pt-[100px]">
    <PageTitle title={title} titleEn={titleEn} />
  </div>
</div>
