---
import PageTitle from './PageTitle.astro';

interface Props {
  title: string;
  titleEn?: string;
}

const { title, titleEn } = Astro.props;
---

<div class="bg-blueGradient headerChange">
  <div class="container pb-20 pt-[100px] md:py-20 lg:py-[100px]">
    <PageTitle title={title} titleEn={titleEn} />
  </div>
</div>
