---
import PageTitle from './PageTitle.astro';

interface Props {
  title: string;
  titleEn?: string;
}

const { title, titleEn } = Astro.props;
---

<div class="bg-blueGradient">
  <div class="container py-[106px]">
    <PageTitle title={title} titleEn={titleEn} />
  </div>
</div>
