---
const { image, title, client } = Astro.props;
---

<a href="/" class="row-span-3 grid w-full grid-rows-subgrid gap-0">
  <div class="aspect-[1.5] w-full">
    <img src={image.src} alt={title} class="size-full object-cover" />
  </div>
  <p class="mt-4 text-20 font-bold leading-160 md:mt-5">{client}</p>
  <p class="text-16 font-bold leading-160 md:text-18">{title}</p>
</a>
