---
import LoadingText from './LoadingText.astro';
---

<div x-data="loading">
  <!-- <div> -->
  <div class="loading-screen">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
      <div class="loading-text">
        <LoadingText />
      </div>
    </div>
  </div>
</div>
