---

---

<div x-data="loading">
  <div class="loading-screen">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
      <p class="loading-text font-poppins text-[100px] font-semibold leading-120 text-lightBlue">
        Tokuyama Shintaro
      </p>
    </div>
  </div>
</div>
