---
interface Props {
  title: string;
  titleEn: string;
}

const { title, titleEn } = Astro.props;
---

<h2 class="mx-auto flex w-fit flex-col items-center md:mx-0 md:items-start">
  <span class="text-16 font-bold leading-140 tracking-02 text-blue">{title}</span>
  <span class="text-36 font-bold leading-140 tracking-02 lg:text-48">{titleEn}</span>
</h2>
