---
import SectionTitle from '../SectionTitle.astro';
import ImageProfile from '@assets/image_profile.jpg';
---

<section id="about" class="mt-20 bg-lightBlue py-12 lg:mt-40 lg:py-[60px]">
  <div class="container">
    <SectionTitle title="私について" titleEn="About me" />
    <div class="mt-12 flex flex-col items-center gap-[60px] md:flex-row md:items-start lg:mt-14">
      <div
        class="aspect-square w-[300px] shrink-0 overflow-hidden rounded-full md:w-[200px] lg:w-[300px]"
      >
        <img src={ImageProfile.src} alt="" class="size-full object-cover" />
      </div>
      <div class="w-auto">
        <p class="text-32 font-bold leading-160">徳山 申太郎</p>
        <p class="mt-5 text-16 leading-160">
          プロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入りますプロフィールテキストが入ります
        </p>
      </div>
    </div>
  </div>
</section>
