---
import SectionTitle from '@components/partials/SectionTitle.astro';
import ImageProfile from '@assets/image_profile.jpg';
---

<section id="about" class="mt-20 bg-lightBlue py-12 lg:mt-40 lg:py-[60px]">
  <div class="container">
    <SectionTitle title="私について" titleEn="About me" />
    <div class="mt-12 flex flex-col items-center gap-[55px] md:flex-row md:items-start lg:mt-14">
      <div
        class="aspect-square w-[300px] shrink-0 overflow-hidden rounded-full md:w-[200px] lg:w-[300px]"
      >
        <img src={ImageProfile.src} alt="" class="size-full object-cover" />
      </div>
      <div class="w-auto">
        <p class="text-32 font-bold leading-160">徳山 申太郎</p>
        <p class="mt-5 text-16 leading-160">
          1995年1月10日生まれ。広島県出身。大学進学を機に横浜へ。<br />
          横浜国立大学を卒業後、地元広島へ戻り5年間公務員として勤務していました。<br />
          入札関係業務や、ハローワークの窓口での雇用保険の手続き業務、職業相談の業務などを経験しました。<br
          />
          公務員として働く中で、「勉強して何か誇れるものを身につけたい」「目に見える形になるものを生み出す仕事をしたい」という思いを抱くようになり転職を決意しました。<br
          />
          公務員を退職後、デジタルハリウッドSTUDIO広島に入学し、ウェブサイト制作の勉強をスタートしました。<br
          />
          在学中に株式会社フォノグラムにパートとして入社し、ウェブサイト制作のコーディングを担当。エンジニアとしてのキャリアをスタートさせました。<br
          />
          現在はネヴァーズ株式会社で、フロントエンドエンジニアとしてウェブサイトの制作に携わっています。
        </p>
      </div>
    </div>
  </div>
</section>
