---

---

<div class="bg-blueGradient flex h-[500px] items-center lg:h-[800px]">
  <div
    class="mx-auto w-full max-w-screen-2xl px-5 md:pb-[50px] md:pl-10 md:pr-0 lg:pb-[100px] lg:pl-[100px]"
  >
    <div class="relative w-fit">
      <p
        class="font-poppins xs:text-[80px] text-[60px] font-semibold capitalize leading-100 -tracking-02 text-white md:text-[100px] xl:text-[140px]"
      >
        tokuyama<br />shintaro
      </p>
      <span
        class="font-licorice xs:text-[100px] xs:bottom-[-70px] xs:right-[-80px] absolute bottom-[-70px] right-0 rotate-[-5deg] text-[80px] capitalize leading-140 text-yellow-300 md:bottom-[-80px] md:right-[-140px] md:text-[120px] xl:bottom-[-115px] xl:right-[-170px] xl:text-[160px]"
        >portfolio
      </span>
    </div>
  </div>
</div>
