---

---

<div class="container mt-20 lg:mt-[120px]">
  <p class="text-56 font-bold capitalize leading-140 lg:text-64">
    tokuyama shintaro<br />
    portfolio
  </p>
  <p class="mt-8 text-16 leading-200 tracking-02 lg:mt-10 lg:text-18">
    私のこれまでの制作実績と簡単な自己紹介を掲載しています。<br />是非ご覧になってください。
  </p>
</div>
