---

---

<div class="headerChange flex h-[700px] items-center bg-blueGradient md:h-[500px] lg:h-[800px]">
  <div
    class="mx-auto w-full max-w-screen-2xl px-5 md:pb-[50px] md:pl-10 md:pr-0 lg:pb-[100px] lg:pl-[100px]"
  >
    <div class="relative w-fit">
      <p
        class="fv-name font-poppins text-[60px] font-semibold capitalize leading-100 -tracking-02 text-white xs:text-[80px] md:text-[100px] xl:text-[140px]"
      >
        tokuyama<br />shintaro
      </p>
      <span
        class="fv-portfolio absolute bottom-[-70px] right-0 rotate-[-5deg] font-licorice text-[80px] capitalize leading-140 text-yellow-300 xs:bottom-[-70px] xs:right-[-80px] xs:text-[100px] md:bottom-[-80px] md:right-[-140px] md:text-[120px] xl:bottom-[-115px] xl:right-[-170px] xl:text-[160px]"
        >portfolio
      </span>
    </div>
  </div>
</div>
