---
import SectionTitle from '@components/partials/SectionTitle.astro';
import LinkCard from '@components/partials/LinkCard.astro';
import Button from '@components/partials/Button.astro';

import { getWorks } from '../../lib/microcms';
const response = await getWorks({ fields: ['id', 'title', 'titleSub', 'thumbnail'] });
---

<section id="works" class="mt-20 lg:mt-40">
  <div class="container">
    <SectionTitle title="制作実績" titleEn="Works" />
    <div class="mt-12 lg:mt-14">
      <ul
        class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 md:gap-[calc(40/1440*100vw)] lg:grid-cols-3 2xl:gap-10"
      >
        {
          response.contents?.slice(0, 3)?.map((content) => (
            <li class="contents">
              <LinkCard
                link={`/works/${content.id}`}
                image={content.thumbnail}
                title={content.title}
                titleSub={content.titleSub}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class="mt-12 text-center lg:mt-14">
      <Button link="/works" name="制作実績一覧へ" />
    </div>
  </div>
</section>
