---

---

{/* https://css-tricks.com/a-clever-sticky-footer-technique/ */}
<footer class="sticky top-full bg-blue px-10 py-4">
  <p class="text-right text-12 font-bold capitalize text-white lg:text-14">© tokuyama shintaro</p>
</footer>
