:root {
  --header-height: calc(70 / 16 * 1rem);
}
html,
body {
  background-color: theme(colors.lightYellow);
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  scroll-margin: var(--header-height);
}

html {
  @apply kerning-none;
  background-color: theme(colors.lightGray);
  height: auto;
  scroll-behavior: smooth;
  line-break: normal;
  overflow-wrap: break-word;
}

html.lenis,
html.lenis body {
  height: auto;
}

body {
  min-height: 100svh;
  color: theme(colors.black);
  line-height: 1;
  font-family: theme(fontFamily.notoSansJp);
  letter-spacing: 0.02em;
}

@layer base {
  .headerChange {
    height: 106px;
  }
}
