:root {
  --header-height: calc(56 / 16 * 1rem);
}

@screen lg {
  :root {
    --header-height: calc(64 / 16 * 1rem);
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  scroll-margin: var(--header-height);
}

html {
  @apply kerning-none;
  background-color: theme(colors.lightGray);
  height: auto;
  scroll-behavior: smooth;
  line-break: normal;
  overflow-wrap: break-word;
}

body {
  min-height: 100svh;
  color: theme(colors.black);
  line-height: 1;
  font-family: theme(fontFamily.notoSansJp);
  letter-spacing: 0.02em;
}
