.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow-x: hidden !important;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
